DATABASE_URL="postgresql://localshow:localshow@localhost:5432/localshow?schema=public"
NEXT_PUBLIC_API_URL="http://localhost:4000/api/v1"
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
OPENAI_API_KEY=""
STRIPE_SECRET_KEY=""
FRONTEND_URL="http://localhost:3000"
PORT="4000"
